:root {
    --prim-dark: #101010;
    --prim-med: #0F0F0F;
    --prim: #1F1F1F;
    --secondary: #2A2A2A;
    
    --high-A: #FF0077;
    --high-A-dark: #FF0066;
    --high-B: #00AAAA;
    --high-B-dark: #00A0A0;

    --text: #F8F8F8;
    --text-dark: #AAAAAA;
    
    --padding: 20px;
    --border-radius: calc(var(--padding) * 0.5);
}

::selection {
    text-decoration: none;
}

a {
    color: var(--high-A);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 120%;
}
body {
    display: flex;
    justify-content: center;
}

* {
    background: var(--prim);
    color: var(--text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.1s;
}

#noscript {
    text-align: center;
}

#page {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column nowrap;
}

#progress-bar {
    margin: 20px;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
#timer {
    width: 80%;
    text-align: center;
}
#timer-ans-track,
#timer-clue-track {
    height: 15px;
    width: 100%;
    background: var(--prim-dark);
    margin-bottom: 10px;
}
#timer-ans-bar,
#timer-clue-bar {
    height: 100%;
    width: 0%;
    background: var(--high-A);
}
#timer-ans-num,
#timer-clue-num {
    padding: 20px;
    color: var(--high-A);
}

#timer-clue-bar {
    background: var(--high-B);
}
#timer-clue-num {
    color: var(--high-B);
}

#stage {
    flex-grow: 3;
    width: 80%;
}

.level {
    color: transparent;
    margin: 10px;
    display: inline-block;
    padding: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    border-radius: 100%;
    box-shadow: 0px 2px 2px 2px var(--prim-dark);
}

.level {
    background: var(--secondary);
}

.level.current {
    padding: 15px;
    background: var(--high-A);
}

.level.done {
    background: var(--high-B);
}

@media (max-width: 800px) {
    #page, #startmenu, #endmenu {
        width: 100%;
    }        
}
@media (min-width: 800px) {
    #page, #startmenu, #endmenu {
        width: 800px;
    }
}
.card {
    width: calc(100%-0.5 *var(--padding));
    padding: var(--padding);
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0px 2px 2px 2px var(--prim-dark);
}

input, button {
    border: none;
}
input {
    font-size: 80%;
}
button {
    border-radius: 5px;
    padding: 10px;
    background: var(--high-B);
    box-shadow: 0px 2px 2px 1px var(--prim-dark);
}

button:hover,
button:active {
    background: var(--high-B-dark);
    box-shadow: 0px 2px 2px 1px var(--prim-dark);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px 1px var(--prim-dark);
}

#answer {
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 2px 3px var(--prim-dark);
    text-align: right;
}

.field {
    text-align: left;
    display: block;
    padding: var(--padding);
    margin-bottom: var(--padding);
    width: calc(100% - 2 * var(--padding));
    background: var(--secondary);
    border-radius: 0;
    box-shadow: inset 0px 1px 2px 3px var(--prim-dark);
}

#answer-box * {
    background: var(--secondary);
}


.clue:hover > header {
    color: var(--text-dark);
}
.clue > .content {
    display: none;
    margin-top: 5px;
    padding-top: 10px;
    width: 100%;
    border-top: solid 2px var(--prim-med);
}
.clue > header:before {
    content: "+";
    margin-right: 1em;
}
.clue.view > header:before {
    content: "-";
}
.clue.view > .content {
    display: inline-block;
}

#startmenu, #waitmenu, #endmenu {
    position: absolute;
    float: left;
    
    top: 25%;
    left: 25%;
    width: 50%;
    height: auto;
    padding: 30px;

    text-align: center;

    box-shadow: 0px 1px 2px 3px var(--prim-dark);
}
#content, #waitmenu, #endmenu {
    display: none;
}
.error {
    color: var(--high-A);
    font-size: 60%;
}
